h1{
    color: white;
    text-align: center;
}

body{
    background-color: #232323;
}

.container{
    margin: 0 auto;
    max-width: 600px;
}


.square{
    width: 30%;
    float: left;
    padding-bottom: 30%;
    background-color: aqua;
    margin: 1.66%;
    border-radius: 10px;
}
div{
    color: white;
}

.tab{
    float: left;
    text-align: center;
}